<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address , class: 'form-control js-address' %>
    <button class="btn btn-primary js-getlocation">localizate</button>
  </div>
  <div class="form-group">
      <%= f.label :latitude %><br />
      <%= f.text_field :latitude, class: 'form-control js-latitude' %>
    </div>

    <div class="form-group">
      <%= f.label :longitude %><br />
      <%= f.text_field :longitude, class: 'form-control js-longitude' %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
