<div class="container">
    <!-- aqui la imagen hover-->
    <div class="contenedor"> 
          <div class="imagen">
            <%= image_tag post.image, class:"img-responsive imagen imgfolder"  %>
          </div>
          <div class="info">
            <%= link_to post.title , post  %>
            <%= post.content %>          
          </div>
    </div> 
          <!-- aqui el favorito-->
        <% if can? :favorite ,@post %>  
          <div class="container"> 
           <!-- Si el usuario tiene  incluido en favorito mostrar borrar o si no agregar-->
            <% if  post.user_favorites.include? current_user %>
              <%= link_to "borrar de favoritos", favorite_post_path(post, type: "unfavorite"), method: :put %>
              <% else %>
              <%= link_to "añadir a favoritos",  favorite_post_path(post, type: "favorite"), method: :put %>
            <% end %>
          </div>
        <% end %>

        <div class="container">
            Telefono : <%= post.phone %>  
        </div>
        <h4 class="container">
          Subido <%= time_ago_in_words(post.created_at) %> 
        </h4>
                  <!-- botones del crud-->
      <div class="container">
        <a href="posts/<%= post.id %>" class="btn btn-default">Ver</a>
        <% if can? :destroy , post %>
        <a href="<%= edit_post_path(post) %>" class="btn btn-default">Editar</a>
        <% end %>
        <% if can? :destroy, post %>
        <%= button_to 'Destruir', post, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default" %>   
        <% end %>
      </div>
</div>