<p id="notice"><%= notice %></p>

<h1 class="container">Anuncios</h1>
    <%= paginate(@posts) %>

    <% @posts.each do |post| %>
     
       <h2 class="container"><%= post.title %></h2>
  
      <div class="container">
        <%= image_tag(post.image) %>
      </div>

       <div class="container">
         <%= post.content %>
       </div>
       
       <div class="container">
         <%= post.phone %>
       </div>
       <div class="container">
         <%= post.address %>
       </div>
       <div class="container">
       <a href="posts/<%= post.id %>" class="btn btn-default">Ver</a>
       <a href="<%= edit_post_path(post) %>" class="btn btn-default">Editar</a>
       <%= button_to 'Destruir', post, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default" %>
       
       </div>
    <% end %>

    <%= paginate(@posts) %>
<br>

<%= link_to 'nueva publicacion', new_post_path, class:"btn btn-success" %>
