<p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <p>Busca publicaciones cerca tuyo</p>
      </div>
    </div>
    <%= form_tag search_nearposts_path, :class => "row" do  %> 
      <div class="col-md-2 col-md-offset-4">
      <%= range_field_tag :range, in: 1...100, :step => '.1' %>
      </div>

      <div class="col-md-2">
      <%= submit_tag "buscar" %> 
        
      </div>
    <% end %>




   <div class="container"> <%= paginate(@posts)%> </div>
    <% @posts.each do |post| %>
     
       <h2 class="container"><%= post.title %></h2>
  
      <div class="container">
        <%= image_tag(post.image) %>
      </div>

       <div class="container">
         <%= post.content %>
       </div>
       
       <div class="container">
         <%= post.phone %>
       </div>
       <div class="container">
         <%= post.address %>
       </div>
       <div class="container">
       <a href="posts/<%= post.id %>" class="btn btn-default">Ver</a>
       <a href="<%= edit_post_path(post) %>" class="btn btn-default">Editar</a>
       <%= button_to 'Destruir', post, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default" %>
       
       </div>
    <% end %>
<br>


