<!DOCTYPE html>
<html>
<head>
  <title>PosteApp</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->

  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>
<%= yield %>

<footer class="container black"> 
	<div class="row">
	  <div class="col-md-4 text-muted">quienes somos</div>
	  <div class="col-md-4 text-muted">quien eres</div>
  	  <div class="col-md-4 text-muted">quienes vamos hacer</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-muted"></div>
	  <div class="col-md-4 text-muted" style="margin-top: 10px;">©2015 - poste-app</div>
  	  <div class="col-md-4 text-muted"></div>
	</div>
</footer>
</body>
</html>
